@import 'roboto.css';
@import '~normalize.css'; /* ~ значит искать в папке /node_modules/ */

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.logo{
    background: url("../assets/webpack-icon.svg");
    height: 200px;
    width: 200px;
}